{% extends "base.html" %}


{% block title %}{% if punter %}Bets for {{punter.displayName}}{% endif %}{% if game %}Bets for {{game.homeTeam.displayName}} - {{game.awayTeam.displayName}}{% endif %}{% endblock %}

{% block content %}
{% if punter %}
<h2>{{punter.displayName}} </h2>
<h3>Total score: {{punter.score}}</h3>
<h3>Rank: {{punter2.rank}} ({{punter.prevRank}})</h3>
{% endif %}
{% if game %}
<h2>{{game.homeTeam.displayName}} - {{game.awayTeam.displayName}}</h2>
{% endif %}
<div id=betsDiv>
<h2>Bets</h2>
<table>
	{% for bet in bets %}
	{% if forloop.first %}<tr class=ttitle><td>&nbsp;</td><td>Result</td><td>Points</td></tr> {% endif %}
	<tr class={% cycle odd,even %}>
		<td>{% if game %}{{bet.punter.displayName}}{% endif %} {% if punter %} {{bet.game.homeTeam.displayName}} - {{bet.game.awayTeam.displayName}} {% endif %}</td>
		<td> {{bet.homeGoals}}-{{bet.awayGoals}}</td>
		<td>({{bet.score}})</td>
	</tr>
	{% endfor%}
</table>
</div>
{% endblock %}
