#adminbox {
	width: 10em;
	float: right;
	clear: right;
	background-color:#FFFFFF;
	padding: 0.8em 0.8em 0.8em 0.8em;
	border-style:solid; border-width:1px; border-color:#E5E5E5;
}

.ttitle {
font-size:90%;
font-weight: bold;
}
.even {
background-color: #eee;
}
.odd {
background-color: #fff;
}
.scoreClassNone{
	color: #989898;
}
.scoreClass0{
	color: #000000;
}
.scoreClass2{
	color: #780000;
}
.scoreClass6{
	color: #980000;
}
